body{
    background-color: var(--cor-de-fundo);
    color: var(--branco);
}

.importante {
    color: orange;
    font-weight: bold;
}

:root {
    --cor-de-fundo: #1E1E1E;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba(58, 55, 94, 0.3);
}

.foto {
    width: 50%;
}

body {
    display: flex;
    justify-content: space-around;
}

.links {
    display: flex;
    flex-direction: column;
}

a {
    margin: 12px;
    padding: 12px;
    
}